.vscode/**
.vscode-test/**
.vscode-test.*
src/**
out/test/**
test/**
scripts/**
samples/**
images/*.jpg
bin/README.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
.gitignore
.yarnrc
*.vsix
**/.DS_Store
